@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
	--bg-color: #F2F2F2;
	--logo-color: #120D1A;
    --text-color: #FB5D58;
    --heading-color: #FB5D58;
    --button-color: #000000;
    --button-hover-color: #EE703B;
}

.rounded {
	border-radius: 999px;
}

body {
	padding: 1em;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
	display: flex;
	font-family: 'Inter', sans-serif;
}

.container {
	width: 100%;
	padding: 1em;

	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;

	background-color: var(--bg-color);
	border-radius: 1em;
	text-align: center;
}

h1 {
	font-size: 3.5em;
	font-weight: 500;
	letter-spacing: -0.025em;
    line-height: 0.9em;
	margin: 0.6em 0;
	color: var(--heading-color);
}

p {
	font-size: 0.75rem;
	font-weight: 600;
	margin: 1.75em 0;
	letter-spacing: 0.2em;
}

.italic {
	font-style: italic;
}

.logo-wrapper {
	width: 90px;
	height: auto;
	/* background-image: url(../img/avatar.png); */
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	/* border-radius: 999px; */
}

.logo-wrapper svg {
	width: 100%;
	height: auto;
	fill: var(--logo-color);
	/* animation: spin 10s infinite; */
	animation-timing-function: linear;
}

.buttons-container {
	display: flex;
    justify-content: center;
	margin: 2rem;
}

.btn {
	cursor: pointer;
	font-size: 0.8em;
}

.btn-social {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 2.2em;
	height: 2.2em;
	overflow: hidden;
	background: var(--button-color);
	color: #FFFFFF;
	margin: 0 0.5em;
}

.btn-social:hover {
	background: var(--button-hover-color);
}

.fa-twitter {
	margin-left: 0.1em;
}

.btn-secondary {
	text-decoration: underline;
}

@keyframes spin {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(359deg)
	}
}